<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; Wakaalat On Web 2022 </span>
        <span style="margin-left: 63%" class="text-muted">Reach Out to us <a href="https://github.com/GoyalRohan/Wakaalat-on-web">here</a> </span>
    </div>
</footer>

