<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
</head>

<div>
    <div class="header bg-white">
        <img src="/images/logo.jpeg" alt="" class="img-size img-visibilility">


        <div class="one">
            <p class="wow mt-3">WAKAALAT ON WEB</p>
        </div>

        <div class="loginsignbutton mt-4">
            <button type="button" class="btn btn-success"><a href="/loginSignup" class="link-dark text-decoration-none">Login</a></button>
            <button type="button" class="btn btn-success"><a href="/lawyerRegistrationForm" class="link-dark text-decoration-none">Sign Up</a></button>
        </div>

    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"> <img src="images/logo.jpeg" alt="" class="img-logo img-size"> </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
            aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <ul class="navbar-nav mr-auto">


                <li class="nav-item">
                    <a class="nav-link nav-fontsize" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ml-3 nav-fontsize" href="/about">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ml-3 nav-fontsize" href="/blogs">Blog <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ml-3 nav-fontsize" href="/findalawyer">Find a Lawyer <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ml-3 nav-fontsize" href="/fundraising">Fund Raising <span class="sr-only">(current)</span></a>
                </li>



            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>



    <div class="loginsignmobile">
        <button type="button" class="btn btn-success button-margin">Login</button>
        <button type="button" class="btn btn-success button-margin">Sign Up</button>
    </div>

</div>