<head>
    <link rel="stylesheet" href="stylesheets/about.css">
    <script type='text/javascript'
        src='https://platform-api.sharethis.com/js/sharethis.js#property=620bdfd46225520019adfc8c&product=sticky-share-buttons'
        async='async'></script>
</head>

<% layout('layouts/Boilerplate') %>


    <div class="sharethis-sticky-share-buttons"></div>
    <div class="one center">
        <img class="imgsize" src="images/aboutwow.jpg" alt="">
    </div>


    <!-- OUR VISION -->
    <div class="vision_part">
        <p class="vision_heading">Our Vision</p>
        <p class="vision">Our main vision is to help all the people which are facing difficulties in finding
            a good lawyer for fighting their case. Lawyers can also register by making their profile so that
            the people can consult to them directly.We have expert Advocates who are in Practice for many years,
            matters in which we deals in:: <br> <br>

            Civil which includes all matters related to property like illegal possession on Land, Flat, House, Shops etc
            others matters like recovery of money, <br> <br>

            All criminal matters like Murder,Rape,Robbery ,Trespass, Cheque bounce etc and also Matrimonial issues like
            Divorce,Maintenance for Wife etc <br> <br>

            Debt Recovery Case, DRT, DRAT, BIFR, Company Law Board, NGT, AFT, Civil Case (Property Law), Company Case
            (Corporate Law), Arbitration Case (Enforcement, Arbitrator), Consumer Case (Products, Services & Medical
            Negligence), Cyber Law Case (Violation & Infringement), Tax Case: Direct & Indirect (Income Tax, VAT),
            Insurance Case, MVC, Writ Petition & Service Matters, Public Interest Litigation, Family Matters: Marriage &
            Divorce (Family Law), IPR Case: Copy Right, Patent, Trademarks, High Court Cases, Labour law Cases
            (Employment), Negotiable Instrument Cases, Search Reports (Bank, NBFC & Other), Criminal Case (Bail, Appeal
            & Revision). <br> <br>

            The value of life is not in its duration, but in its donation. <br>
            So we, as an intermediate between the people and the lawyers, also provides help to the needy who can't
            afford to get a lawyer.</p>

    </div>


    <!-- OUR ACHIEVEMENTS -->
    <div class="achievements_part">
        <p class="achievements_heading">Our Achievements</p>
        <p class="achievements"> We have successfully completed 1 lac Users on our platform and Now we are aiming for 10
            lacs. <br> <br>
            Everyday, many lawyers are connecting with us and easily getting their clients through our platform. Many
            well experienced Lawyers are registering on our platform which makes our platform worderful and also helps
            our platform to reach worldwide. <br> <br>
            Users who can donate are donating money which helped us to make a donation of 5 Lacs annully. The donation
            is given to the needy who can't afford the fees of a lawyer. </p>
    </div>

    <hr>

    <script src="javascripts/about.js"></script>

    </div>