<head>
    <link rel='stylesheet' type='text/css' media='screen' href='stylesheets/blog.css'>
</head>

<% layout('layouts/Boilerplate') %>

    <!-- <section class="header" id="img-center">
        <img src="images/blog/blog1.jpg">
    </section> -->


    <section class="add">
    </section>
    <!----------------------section2------------------------------------->
    <section class="2">
        <section class="blog">
            <div class="blog-post">
                <div class="blog-img">
                    <img src="images/blog/1.jpg">
                </div>
                <div class="info">
                    <div class="date">
                        <span>9 February 2022</span>
                        <span>13:57</span>
                    </div>
                    <h1>ADVOCATES RIGHT TO STRIKE IN LIGHT OF EX CAPT. HARISH UPPAL V UNION OF INDIA (2002)</h1>

                    <p>Advocacy is the art of seeking justice and advocates are the artists. Justice delivered in Courts
                        largely depends on the conduct and efficiency of the advocates. But most importantly, they are
                        human beings and citizens of the country who like other people have their own rights and</p>
                    <a href="#">Read more</a>
                </div>
            </div>
        </section>
        <section class="blog">
            <div class="blog-post">
                <div class="blog-img">
                    <img src="images/blog/2.jpg">
                </div>
                <div class="info">
                    <div class="date">
                        <span>16 February 2022</span>
                        <span>2:10</span>
                    </div>
                    <h1>DAHYABHAI CHHAGANBHAI THAKKER V. STATE OF GUJARAT</h1>

                    <p>in the said case, the appellant Dahyabhai Chhaganbhai Thakker was accused of killing his wife. It
                        was presented that Dahyabhai, who was the son of Chhaganbhai Thakker and husband of Kalavati,
                        killed his wife by pushing a knife in her body several times. It was reported that Dahyabhai and
                    </p>
                    <a href="#">Read more</a>
                </div>
            </div>
        </section>
        <section class="blog">
            <div class="blog-post">
                <div class="blog-img">
                    <img src="images/blog/3new.png">
                </div>
                <div class="info">
                    <div class="date">
                        <span>16 February 2022</span>
                        <span>17:05</span>
                    </div>
                    <h1>NEW LAW ON LOCAL EMPLOYMENT IN THE STATE OF HARYANA</h1>

                    <p>In order to implement the state government’s pre-election promises, the Haryana State Employment
                        of Local Candidates Act, 2020 (Haryana Employment Act) has been made</p>
                    <a href="#">Read more</a>
                </div>
            </div>
        </section>

        <section class="button">
            <button type="button" onclick="document.getElementById('after').style.display='block'">View More</button>
        </section>

        <section class="blog after" id="after">
            <div class="blog-post">
                <div class="blog-img">
                    <img src="images/blog/4.jpg">
                </div>
                <div class="info">
                    <div class="date">
                        <span>16 February 2022</span>
                        <span>15:24</span>
                    </div>
                    <h1>THE TREACHEROUS TRAP OF FREEBIES</h1>

                    <p>Over the years, election campaigns in India have evolved to get maximum votes by using various
                        strategies. In parties</p>
                    <a href="#">Read more</a>
                </div>
            </div>
        </section>
        <section class="blog after" id="after">
            <div class="blog-post">
                <div class="blog-img">
                    <img src="images/blog/5.jpg">
                </div>
                <div class="info">
                    <div class="date">
                        <span>15 February 2022</span>
                        <span>11:08</span>
                    </div>
                    <h1>RIGHTS OF RAPE VICTIM</h1>
                    <p>Assault cases are deteriorating and more regrettable nowadays. In measurement research, we
                        observed India is the third-highest nation in submitting assaults after the USA and Brazil. As
                        per the National Crime Bureau’s Annual report, in 2018 around 94000 assault cases were recorded
                        in</p>
                    <a href="#">Read more</a>
                </div>
            </div>
        </section>
    </section>