<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/findalawyer.css">
</head>

<% layout('layouts/Boilerplate') %>

     <!-- <div id="header">
        <div class="logo">
            <img src="images/wowlogo.png" width="120px" height="100px">
            <h5>Wakaalat on Web</h5>
        </div>
    </div>  -->

    <div id="heading">
        <h1>Different Types Of Lawyers</h1>
        <p><i>Couldn't Find a Lawyer for Yourself. Don't Worry! We are here to help you.<br></i></p>
    </div>

    <div class="container">
        <ul id="center">
            <li>
                <input type="radio" checked="checked" name="slide">
                <div class="slide">
                    <a href="lawyers/family"><img src="images/lawyers/familylawyer.jpg" width="80%" height="80%"></a>
                    <div class="content">
                        <h2>Family Lawyers</h2>
                        <p>These are lawyers who handle all kinds of domestic cases, such as divorce,
                            legal separation, child custody, adoption, paternity, alimony, prenuptial
                            or postnuptial agreements, and emancipation. But family attorneys may also
                            handle reproductive rights cases, and their work may intersect with other
                            areas of the law. For instance, if there’s a criminal investigation of child
                            abuse or a domestic violence case, or if there’s a juvenile delinquency case,
                            a family lawyer may also work with a criminal lawyer.</p>
                    </div>
                </div>
            </li>

            <li>
                <input type="radio" name="slide">
                <div class="slide">
                    <a href="lawyers/CriminalDefense"><img src="images/lawyers/CriminalDefense.jpg" width="80%" height="80%"></a>
                    <div class="content">
                        <h2>Criminal Defense Lawyers</h2>
                        <p>Last but not least, a criminal defense lawyer is skilled in handling all stages
                            of a criminal lawsuit. They provide valuable counsel to their clients from the
                            time they are arrested, through the investigation, charging, arraignment and
                            sentencing. Their work isn't quite done if their clients wish to appeal their case.
                            A good criminal defense attorney knows how to navigate the nuances of the law,
                            which allows them to keep their clients out of prison.</p>
                    </div>
                </div>
            </li>

            <li>
                <input type="radio" name="slide">
                <div class="slide">
                    <a href="lawyers/laborlaw"><img src="images/lawyers/LaborLaw.jpg" width="80%" height="80%"></a>
                    <div class="content">
                        <h2>Labor Lawyers</h2>
                        <p>Labor lawyers specialize in handling unlawful lay-offs and workplace discriminations.
                            They also negotiate their clients' severance pay. These attorneys usually work with
                            unions, but they are most helpful for non-unionized employees because these are the
                            workers who do not have anyone advocating for their cause.</p>
                    </div>
                </div>
            </li>

            <li>
                <input type="radio" name="slide">
                <div class="slide">
                    <a href="lawyers/banklaw"><img src="images/lawyers/bank.jpg" width="80%" height="80%"></a>
                    <div class="content">
                        <h2>Bankruptcy Lawyers</h2>
                        <p>For people struggling with their finances, bills, and debts, a consultation with a
                            bankruptcy lawyer would be an ideal first step to gain insight on how to reorganize their
                            financial strategy. In most cases, bankruptcy attorneys will always aim to prevent their
                            clients from going bankrupt. They will help negotiate deals with creditors to reduce their
                            clients’ debts or arrange for a good repayments plan. Although if the worst case happens,
                            they will also take care of the filing of the bankruptcy documents for their clients.</p>
                    </div>
                </div>
            </li>

            <li>
                <input type="radio" name="slide">
                <div class="slide">
                    <a href="lawyers/taxlaw"><img src="images/lawyers/tax.jpg" width="80%" height="80%"></a>
                    <div class="content">
                        <h2>Tax Lawyers</h2>
                        <p>Taxes can be complicated, but it's the work of the tax lawyers, along with the accountant,
                            to make it uncomplicated for their clients, especially if they have many assets. If you plan
                            to set up a business, or anticipate a taxable asset or estate when you’re gone, consulting
                            with a tax lawyer can help put the taxes in order.</p>
                    </div>
                </div>
            </li>

            <li>
                <input type="radio" name="slide">
                <div class="slide">
                    <a href="lawyers/iplaw"><img src="images/lawyers/IPlaw.jpg" width="80%" height="80%"></a>
                    <div class="content">
                        <h2>Intellectual Property (IP) Lawyers</h2>
                        <p>Any original creative, scientific, or technical invention which may benefit the public has
                            to be protected from copycats and duplicates. If you've created an art design, a unique
                            product,
                            a novel, a song or a computer program, you can consult with an intellectual property lawyer
                            for
                            securing copyright, patents, trademarks, and licensing agreements.Much of the work of IP
                            lawyers
                            is to provide legal advice to clients on the commercial viability and marketing mechanisms
                            of their creation. They need to have expert knowledge in both business and innovation
                            trends.</p>
                    </div>
                </div>
            </li>

            <li>
                <input type="radio" name="slide">
                <div class="slide">
                    <a href="lawyers/pilaw"><img src="images/lawyers/Personal-Injury-Law.jpg" width="80%" height="80%"></a>
                    <div class="content">
                        <h2>Personal Injury Lawyers</h2>
                        <p>Cases which involve a person who accuses another individual, company, government entity or
                            organization
                            of physical or psychological injuries will need the expertise of a personal injury lawyer.
                            This lawyer
                            is an expert in tort law, which deals with civil legal liabilities and damages.If the injury
                            has resulted
                            in a loss of income or it affected the quality of your life, an excellent personal injury
                            lawyer will help
                            collect the proper compensation and settlement you deserve.</p>
                    </div>
                </div>
            </li>

            <li>
                <input type="radio" name="slide">
                <div class="slide">
                    <a href="lawyers/estate"><img src="images/lawyers/estate.jpg" width="80%" height="80%"></a>
                    <div class="content">
                        <h2>Estate Planning Lawyers</h2>
                        <p>Estate planning lawyers are there to help clients properly sort out the assets and properties
                            they would like
                            to leave with their children and loved ones, should that time come.An estate attorney may
                            also help clients
                            build a trust fund, especially for minor beneficiaries. They may also prepare the documents
                            that will enumerate
                            and outline their client’s final wishes, including medical and burial arrangements.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>