<% layout('layouts/Boilerplate') %>

    <head>
        <link rel="stylesheet" href="stylesheets/slider2.css">
        <link rel='stylesheet' type='text/css' media='screen' href='stylesheets/reviewstyle.css'>
        <link rel='stylesheet' type='text/css' media='screen' href='stylesheets/customerlove.css'>
        <script src="https://kit.fontawesome.com/44f557ccce.js"></script>
    </head>



    <div style="display: block;">
        <div class="imagesliderpart">

            <div class="slider">
                <div class="slides">

                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">

                    <div class="slide first">

                        <img src="images/slider/1.jpeg" alt="">
                    </div>
                    <div class="slide">
                        <img src="images/slider/2.jpeg" alt="">
                    </div>
                    <div class="slide">
                        <img src="images/slider/3.jpeg" alt="">
                    </div>
                    <div class="slide">
                        <img src="images/slider/4.jpeg" alt="">
                    </div>

                    <span class="quote">
                        Justice for unjust is our moral duty</span>

                </div>


                <div class="navigation-manual">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>


            </div>


        </div>
    </div>

    <br>
    <br>
    <!-- Review Page Division -->

    <div style="display: block;">
        <div class="reviewpagepart">

            <div class="rev-section">

                <h2 class="title">Our Guests Love Us</h2>
                <p class="note">90% positive reviews on Google with 4.1 overall rating</p>
                <button class="arrow" id="arrow1" onclick="scroll_horizontally(1)" style="float:left;"></button>
                <button class="arrow" id="arrow2" onclick="scroll_horizontally(-1)" style="float: right;;"></button>
                <div class="reviews">

                    <div class="review">
                        <div class="head-review">
                            <img src="images/blog/woman1.jpg" width="250px">
                        </div>
                        <div class="body-review">
                            <div class="name-review">Nupur Mehta</div>
                            <div class="place-review">Banglore</div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half"></i>
                            </div>
                            <div class="desc-review">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
                                eligendi suscipit illum officia ex eos.</div>
                        </div>
                    </div>
                    <div class="review">
                        <div class="head-review">
                            <img src="https://images.unsplash.com/photo-1479936343636-73cdc5aae0c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
                                width="250px">
                        </div>
                        <div class="body-review">
                            <div class="name-review">Nehal Patel</div>
                            <div class="place-review">Gujrat</div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="desc-review">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
                                eligendi suscipit illum officia ex eos.</div>
                        </div>
                    </div>
                    <div class="review">
                        <div class="head-review">
                            <img src="images/blog/man1.jpg" width="250px">
                        </div>
                        <div class="body-review">
                            <div class="name-review">Anand Verma</div>
                            <div class="place-review">Himachal Pradesh</div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half"></i>
                            </div>
                            <div class="desc-review">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
                                eligendi suscipit illum officia ex eos.</div>
                        </div>
                    </div>
                    <div class="review">
                        <div class="head-review">
                            <img src="images/blog/woman2.jpg" width="250px">
                        </div>
                        <div class="body-review">
                            <div class="name-review">Priya Sachdeva</div>
                            <div class="place-review">Delhi</div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half"></i>
                            </div>
                            <div class="desc-review">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
                                eligendi suscipit illum officia ex eos.</div>
                        </div>
                    </div>
                    <div class="review">
                        <div class="head-review">
                            <img src="images/blog/man2.jpg" width="250px">
                        </div>
                        <div class="body-review">
                            <div class="name-review">Prakash Garg</div>
                            <div class="place-review">Kolkata</div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half"></i>
                            </div>
                            <div class="desc-review">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
                                eligendi suscipit illum officia ex eos.</div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <h1>REASON WHY CUSTOMERS LOVE US</h1>
    <div class="container">
      <div class="reasons">
        <div class="img-container"><img src="/images/price.webp"></div>
        <h2>Professional Services At Affordable Price</h2>
        <p>Wakaalat on Web provides service in Affordable price</p>
      </div>
      <div class="reasons">
        <div class="img-container"><img src="/images//quick.png"></div>
        <h2>Quick Support</h2>
        <p>Wakaalat on Web helps you find lawyer within 24 hours of registration</p>
      </div>
       <div class="reasons">
        <div class="img-container"><img src="/images/lawyer.png"></div>
        <h2>All Categories Lawyer At one Place</h2>
        <p>If you are in search of a lawyer for your case either criminal<br> or domestic then Wakaalat on Web is for you.</p>
      </div>
       <div class="reasons">
        <div class="img-container"><img src="/images/fundraising.webp"></div>
        <h2>Provides Funds to heir a Lawyer</h2>
        <p>If you find lawyers fee to be expensive in that case ,We help you by providing <br>funds raised by people in our fundraising coloumn</p>
      </div>
    </div>


    <script src="javascripts/slider.js"></script>