<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/wantalawyer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<% layout('layouts/Boilerplate') %>


    <div id="header">
        <div class="logo">
            <img src="images/wowlogo.png" width="120px" height="100px">
            <h5>Wakaalat on Web</h5>
        </div>
    </div>
    <div id="heading">
        <h1>Want to Consult an Expert Lawyer?</h1>
        <p><i>Just knock the door to avail 24x7 advice regarding any issues from Professional Lawyers.<br></i></p>
        <p class="second"><i>We have a collection of trusted and budget-friendly Top-rated Lawyers.</i></p>
    </div>

    <div class="main">
        <div class="wrapper">
            <div class="card">
                <div class="card-background">
                    <img width=100px height=100px
                        src="https://yelodotred.s3-us-west-2.amazonaws.com/images/listing_images/images/25265/medium/2.jpg?1590069168"
                        alt="Advocate Bala Janaki" class="card-image">
                </div>

                <!-- creating div class for names or heading -->
                <div class="card-info">
                    <h1>Advocate Bala Janaki</h1>
                    <p><i>Experience: 37Years</i></p>
                </div>

                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>

                <!--Contact Button-->
                <div class="card-button">
                    <p><button class="zero">Contact</button></p>
                </div>
            </div>

            <div class="card">

                <!-- it Will contain 5 elements -->
                <div class="card-background1">
                    <img width=100px height=100px
                        src="https://yelodotred.s3-us-west-2.amazonaws.com/images/listing_images/images/25243/medium/unnamed.jpg?1590045924"
                        alt="Advocate Rajeev Nigam" class="card-image">
                </div>

                <!-- creating div class for names or heading -->
                <div class="card-info">
                    <h1>Advocate Rajeev Nigam</h1>
                    <p><i>Experience: 28Years</i></p>
                </div>

                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>

                <!--Contact Button-->
                <div class="card-button">
                    <p><button class="one">Contact</button></p>
                </div>
            </div>

            <div class="card">

                <!-- it Will contain 5 elements -->
                <div class="card-background2">
                    <img width=100px height=100px
                        src="https://tse3.mm.bing.net/th?id=OIP.8VaIws8_7xYgl7vBZREG4AAAAA&pid=Api&P=0&w=183&h=183"
                        alt="Advocate Ricky Chopra" class="card-image">
                </div>

                <!-- creating div class for names or heading -->
                <div class="card-info">
                    <h1>Advocate Ricky Chopra</h1>
                    <p><i>Experience: 21Years</i></p>
                </div>

                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>

                <!--Contact Button-->
                <div class="card-button">
                    <p><button class="two">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="btn">
            <a href="findalawyer.html"><button class="viewmore">View More</button></a>
        </div>
    </div>